---
services:

  wordpress:
    container_name: my-wordpress
    image: wordpress_git:latest
    build: .
    restart: always
    ports:
      - 8080:80
    environment:
      WORDPRESS_DB_HOST: {{ wp_host }}
      WORDPRESS_DB_USER: {{ db_user }}
      WORDPRESS_DB_PASSWORD: {{ db_password }}
      WORDPRESS_DB_NAME: {{ db_name }}
    volumes:
      - wordpress:/var/www/html
    depends_on:
      - db
  db:
	container-name: my-sql
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: {{ db_name }}
      MYSQL_USER: {{ db_user }}
      MYSQL_PASSWORD: {{ db_password }}
      MYSQL_RANDOM_ROOT_PASSWORD: '1'
    volumes:
      - db:/var/lib/mysql

volumes: 
  db:
  wordpress:
