---
- name: Run using a project directory
  hosts: all
  gather_facts: false

  vars_files: 
    - vars/docker_wordpress_vars.yml
    - vaults/docker_wordpress_secrets.yml


  tasks:
    - name: Create a directory if it does not exist
      ansible.builtin.file:
        path: /home/{{ run_user }}/TP6/
        state: directory
        mode: '0755'

    - name: Copy file with owner and permissions
      ansible.builtin.copy:
        src: files/Dockerfile
        dest: /home/{{ run_user }}/TP6/
        mode: '0644'

    - name: Template a file to docker-compose
      ansible.builtin.template:
        src: templates/docker-compose.j2
        dest: /home/{{ run_user }}/TP6/docker-compose.yml
        mode: '0644'

    - name: Create and start services
      community.docker.docker_compose_v2:
        project_src: /home/{{ run_user }}/TP6/
        state: present
      register: output

    - name: Show results
      ansible.builtin.debug:
        var: output
